<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Crear Cotización</title>
</head>

<body>
    <h1>Crear Cotización</h1>
    <form action="{{ url_for('crear_cotizacion') }}" method="POST">
        <label for="nombre_cliente">Nombre del Cotizante:</label>
        <input type="text" id="nombre_cliente" name="nombre_cliente" required><br>

        <label for="empresa_cliente">Empresa destinataria:</label>
        <input type="text" id="empresa_cliente" name="empresa_cliente" required><br>

        <label for="cantidad_ventanas">Cantidad de Ventanas:</label>
        <input type="number" id="cantidad_ventanas" name="cantidad_ventanas" required><br>

        <label for="estilo">Estilo:</label>
        <select id="estilo" name="estilo" required>
            <option value="O">O</option>
            <option value="XO">XO</option>
            <option value="OXO">OXO</option>
            <option value="OXXO">OXXO</option>
        </select><br>

        <label for="ancho">Ancho (cm):</label>
        <input type="number" id="ancho" name="ancho" required><br>

        <label for="alto">Alto (cm):</label>
        <input type="number" id="alto" name="alto" required><br>

        <label for="acabado">Acabado:</label>
        <select id="acabado" name="acabado" required>
            <option value="Pulido">Pulido</option>
            <option value="Lacado Brillante">Lacado Brillante</option>
            <option value="Lacado Mate">Lacado Mate</option>
            <option value="Anodizado">Anodizado</option>
        </select><br>

        <label for="tipo_vidrio">Tipo de Vidrio:</label>
        <select id="tipo_vidrio" name="tipo_vidrio" required>
            <option value="Transparente">Transparente</option>
            <option value="Bronce">Bronce</option>
            <option value="Azul">Azul</option>
        </select><br>

        <label for="esmerilado">Esmerilado:</label>
        <input type="checkbox" id="esmerilado" name="esmerilado"><br>

        <br><button type="submit" style="font-size: 14px;">Generar Cotización</button>
        <br><br><a href="/">
            <button type="button" style="font-size: 14px;">Volver</button>
        </a>
    </form>
</body>

<hr>
<footer>
    <center><br>
        Juan Sebastian Diaz Campos - Código: 2116642<br>
        &copy; 2024 - GitHub: DiazJSC
    </center>
</footer>
</html>
