<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Inicio</title>
</head>

<body>
    <h1>Menú de cotización de ventanas - PQR</h1>
    <nav>
        <br><a href="{{ url_for('crear_cotizacion') }}">
            <button style="font-size: 20px;">Crear Cotización</button>
        </a><br>

        <br><li><a href="{{ url_for('ver_tarifas', opcion='1') }}">
            <button style="font-size: 20px;">Ver Tarifas de Acabados</button>
        </a></li>

        <br><li><a href="{{ url_for('ver_tarifas', opcion='2') }}">
            <button style="font-size: 20px;">Ver Tarifas de Vidrios</button>
        </a></li><br>
    </nav>
</body>

<hr>
<footer>
    <center><br>
        Juan Sebastian Diaz Campos - Código: 2116642<br>
        &copy; 2024 - GitHub: DiazJSC
    </center>
</footer>
</html>