<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>

<body>
    <h1>{{ titulo }}</h1>
    <table border="1">
        <tr>
            <th>Descripción</th>
            <th>Precio</th>
        </tr>
        {% for descripcion, precio in tarifas.items() %}
        <tr>
            <td>{{ descripcion }}</td>
            <td>${{ precio }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><a href="/">
        <button type="button" style="font-size: 20px;">Volver</button>
    </a>
</body>

<hr>
<footer>
    <center><br>
        Juan Sebastian Diaz Campos - Código: 2116642<br>
        &copy; 2024 - GitHub: DiazJSC
    </center>
</footer>
</html>
